@using certificacaoaspnet.Models
@model certificacaoaspnet.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*como gerar atributos para tags HTML de forma dinâmica*@
@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>
<!--<h2>@(((Movie)ViewData["Movie"]).Name) </h2>
<h2>@(((Movie)ViewBag.Movie).Name) </h2>
-->
@if(Model.Customers.Count == 0)
{
    <text>Ninguém alunou esse filme.</text>
}
else
{
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }
</ul>
}
